body{
    background-color: black;
}

.hometitle{
 color: darkgreen;
 font-size: 4vw;
}
li{
    display: inline;
    color: white;
    font-size: 3vw;
    padding: 0.5vw;
    float: left;

}
.flag{
max-width: 9vw;
display: inline;   
}